.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 250px auto;
  width: 400px;
  height: 500px;
  background-color: $lightblue;
  border: 1px rgba(0, 0, 0, 0.3)solid;
  border-radius: 25px;
  color: $darkWhite;
  .register-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    .input {
      width: 320px;
      height: 35px;
      transition: 0.1s;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 900;
      color: $lightblue;
      padding-left: 5px;
      margin: 5px;
      margin-bottom: 30px;
      &:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0px 10px #9ecaed;
      }
      &:hover {
        box-shadow: 0 0px 10px #9ecaed;
      }
    }
    input[type=checkbox] {
      width: 15px;
      height: 15px;
    }
    .email-div {
      display: flex;
      flex-direction: column;
    }
  }


  button {
    color: $lightblue;
    background-color: $darkWhite;
    width: 300px;
    height: 45px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    border: none;
    transition: 0.2s;
    &:hover {
      transition: 0.3s;
      box-shadow: 0 0px 10px #9ecaed;
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: $darkestBlue;
      box-shadow: 0 0px 0px #9ecaed;
    }
  }
}