body{
  background-size: cover;
  color: rgb(59, 49, 49);
  font-family: 'Montserrat', sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(124, 75, 75, 0.125);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 90px;
  padding: 80px 15px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.search-input {
  width: 100%;
}

.form-search {
  margin: 15px;
}

.btn-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

