/* .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
} */

.perfil {
  font-size: 2em;
  display: flex;
  flex-direction: row;
}

/* .dados {
  margin: 0 2rem;
  font-size: 26px
} */

.allContent {
  padding-left: 20%;
  padding-top: 5%;
  color: #255923;
}

.logo-perfil-admin {
  width: 150%;
  padding-left: 55%;
}

.admin-title {
  padding-top: 5%;
  padding-left: 5%;
}
