.titleProducts {
  color: black;
  font-size: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
.checkout-container {
  padding-top: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.noProducts {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align-last: center;
}

.finalValue {
  color: black;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 20px;
  text-align: end;

}

.finalBuy {
  display: inline-block;
  padding: 20px 50px;
  margin-left: 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;	
  outline: none;
  color: #fff;
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 2px 4px 4px #999;
  font-size: 20px;
}

.addres-form {
  display: flex;

}
.input-form {
  margin: 0 2%;
}
