.my-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: -50px;
  background-image: url('https://images.unsplash.com/photo-1542634093-e0198d4d1e46?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  /* background-image: url('https://images.unsplash.com/photo-1600788886242-5c96aabe3757?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-family: sans-serif;	
}

h4 {
  color: rgb(241, 133, 9);
}

.my-row{
  background: rgba(255, 255, 255, 0.75);
  border-radius: 30px;
  box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.89);
  width: 55%;
  padding: 30px;
  text-align: center;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .my-row {
    width: 75%;
  }

  h1 {
    font-size: 55px;
  }

  h4 {
    font-size: 27px;
  }
  
}


@media only screen and (max-width: 600px) {
  .my-row {
    width: 95%;
  }

  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }
  
}

.btn1{
  border: 1px solid;
  outline: none;
  height: 50px;
  width: 100%;
  background: rgb(255, 136, 0);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-weight:inherit;
}

.btn1:disabled{
  border: 1px solid;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: gray;
  color: rgb(163, 163, 163);
  border-radius: 4px;
  font-weight:inherit;
}
