.orderDetailsContainer {
  width: 600px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
}

.orderDetailsContainer > ul > li {
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  
  display: flex;
  justify-content: space-between;
}

.orderDetailsContainer > ul > li > h3 {
  text-align: center;
  margin: 0 5px;
}

.orderDetailsTitleContainer {
  display: flex;
  justify-content: space-between;
}

.orderDetailsContainer > h2 {
  align-self: flex-end;
  margin-top: 30px;
}

.orderDetailsContainer > button {
  margin-top: 20px;
  align-self: flex-end;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  transition: background-color 0.2s;
}

.orderDetailsContainer > button:hover {
  background-color: rgba(0, 128, 128, 0.7);
  cursor: pointer;
}

@media(max-width: 680px) {
  .orderDetailsContainer {
    width: 95vw;
  }
}
