.addresForm{
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.89);
  display:flex;
  flex-direction: column;
}
.addres-form {
  display: flex;
  flex-direction: column;
}
.inputAdress {
  margin: 200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}