.closeButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 2px 4px 4px #999;
}
.containerList {
  background-color: white ;
  margin: 15px;
  padding: 15px;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.89);
}