.quantityBtn {
  margin-right: 30px;
  margin-left: 30px;
  padding: 5px;
  background-color:rgb(165, 88, 0);
  width: fit-content;
  color: white;
  border: none;
}

.cardFooter{
  background-color:rgb(255, 136, 0) ;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.product-card{
  width: 300px;
  padding: 0.3%;
  border: 1px solid black;
  margin: 0.2%;
  border-radius: 2%;
  background: linear-gradient(to top, white, white);
  color: rgb(0, 0, 0);
  margin: 10px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in;
}

.product-card:hover {
  /* background: linear-gradient(to top, yellow, orange); */
  transform: scale(1.05);
  box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.89);
}

.card-img-top {
  display: flex;
  justify-content: center;
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.product-card-image {
  max-width:400px;
  max-height:280px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.totalValue{
  margin: 10px;
  margin-left: 10px;
  text-align: justify;
  color: white;
}

.card-body {
  font-size: larger;
}

.quantity-controller {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.quantity-controller button{
  width: 15%;
  border-radius: 50%;
  background-color:black;
}

.product-card-image {
  height: 300px;
}
/* 
.product-card {
  width: 300px;
  padding: 0.3%;
  border: 1px solid black;
  margin: 0.2%;
} */