.register-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.89);
  /* box-shadow: 20px 20px 22px rgb(0, 0, 0); */
  align-items: center;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .form-label {
    width:80%;
  }
}

.btn2{
  margin: 3px;
  border: 1px solid;
  outline: none;
  height: 50px;
  width: fit-content;
  background: rgb(255, 136, 0);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-weight:inherit;
}

.btn2:disabled{
  border: 1px solid;
  outline: none;
  height: 50px;
  width: fit-content;
  background-color: gray;
  color: rgb(163, 163, 163);
  border-radius: 4px;
  font-weight:inherit;
}