.top-menu {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  top: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.title-top-menu {
  padding-top: 4px;
  font-size: 30px;
  margin-bottom: 20px;
}

.admin-side-bar-container {
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.side-menu-container {
  width: 25%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
  position: fixed;
  z-index: 1;
}


@media only screen and (max-width: 450px) {
  .side-menu-container {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .side-menu-container {
    width: 25%;
    height: 100%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 800px) {
  .side-menu-container {
    width: 35%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .side-menu-container {
    width: 15%;
    height: 100%;
  }
}

.side-menu-container button {
  width: 100%;
  background-color: black;
  color: white;
  border-right: none;
  border-left: none;
}

.side-menu-main-options {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-hamburguer-btn {
  background-color: black;
  border: 1px solid white;
  color: white;
  margin: 0.2%;
  text-align: center;
  border-radius: 5%;
}