@import '../Login/Login.scss';
@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/reset.scss';

.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.register-form {
  @extend .loginForm;
  width: 100%;

  & input, button, .input-register, label {
    z-index: 3;
  }

  label {
    font-size: calc(10px + 0.6vw);
    font-weight: bold;
    color: #D9B573;
    @include flexBox(row);


  }
}