@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background: #000000 url('../images/background_01.gif') no-repeat; 
}

.login-register {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  width: 100%;
}

.img-logo-login {
  height: 150px;
  margin-bottom: 20px;
}

.login-register form {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
}

.login-register form label {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  text-align: center;
}

.login-register form input {
  border: 2px solid #205527;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  height: 30px;
  text-align: center;
  width: 300px;
}

.login-register form input:focus {
  border: 3px solid #205527;
  outline: none !important;
}

form button {
  background-color: #205527;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 305px;
}

form button:hover {
  background-color: #008200;
  cursor: pointer;
}

form button:disabled,
form button:hover:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.bttn-text {
  background-color: #ff4000;
  font-size: 13pt;
}

.bttn-text:hover {
  background-color: #ff6e3d;
}

.checkbox {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
}


@media only screen and (min-width: 1000px) {
  .login {
    margin-top: 4vh;
  }
  
  .login img {
    margin-bottom: 4%;
  }
}
