@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.side-menu-container {
  align-items: center;
  align-content: center;
  background-color: #ffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 100%;
}

.bttn_sidebar_costumer {
  background-color: #205527;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 305px;
}

.bttn_sidebar_costumer:hover {
  background-color: #008200;
  cursor: pointer;
}
