body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 245, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-title {
  text-align: center;
  padding-bottom: 3vh;;
}

.login-container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  width: 100%;
  margin-top:25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content:center;
}

.btn-login {
  width: 50vh;

}

.imput-login {
  width: 50vh;
}

.form-check-input {
  margin-right: 8px;
  margin-top: 5px;;
  padding: 8px;

}

.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	min-width: 400px;
  height: 100%;
  padding: 15vh 30vh 20vh 30vh;

}

.card {
  width: 180px;
  height: 70%;
  margin: 15px 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
  padding: 15px 11px 11px 11px;
  text-align: center;
}

.top-bar {
  height: 11vh;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #157347;
  color: white;
  z-index: 5;
}

.bars-button {
  width: 44px;
  height: 50px;
  margin-left: 2vh;
  border-style: none;
  padding: 22px;
  background-image: url("./bars-solid.svg");
}

.side-menu-container {
  position: fixed;
  margin-top: 11vh;;
  width: 30vh;
  height: 100%;
  left: 0px;
  background-color: rgb(224, 224, 224);
  z-index: 3;
  border-right: #157347 1px;
  border-right-style: solid;
}

.checkout-btn-bottom {
  position: fixed;
  font-size: 3vh;
  width: 100%;
  bottom: 0px;
  background-color: #157347;
  color: white;
  z-index: 1;
}

.checkout-price{
  font-size: 5vh;
}

.width-med {
  width: 25vh;
}

.margin-med {
  margin: 4vh 1vh 1vh 2vh;
}

.align-bot {
  position: fixed;
  bottom: 3vh;
}

.btn-card {
  width: 44px;
  height: 40px;
  font-size: 30px;
  line-height: 20px;
}

.price-card {
  font-size: 22px;
  padding: -0px 10px;
  height: 30px;
  line-height: 30px;
}

.quantity-card {
  font-size: 22px;
  margin: 0px 18px;
  line-height: 40px;
}